.header__logo {
  background-image: url("../../../images/logo.svg");
  width: 200px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media screen and (max-width: 700px){
  .header__logo {
    display: none;
  }
}
